body {
    margin: 25px;
    font-family: arial, sans-serif;
  	font-size: 14px;
}

p{
	margin: 15px;
}

li {
    float: left;
}

.center {
	display: block;
	position: relative;
	margin: auto;
}

.half_width{
	display: block;
	width: 800px;
	margin: auto;
}


title {
	font-family: time new roman, sans-serif;
  	font-size: 20px;
}

h1{
	font-size:36px;
}
